<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title> Practical 7</title>
    <meta name="description" content="basic template for SIT 725 Prac 7" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="SIT 725 Prac 7" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="basic template for SIT 725 Prac 9"
    />

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Custom Style Sheet-->
    <link rel="stylesheet"  href="/css/style.css"  media="screen" />
    <style>
      form {
        padding: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-right: 50px;
      }
      #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      #messages li {
        padding: 5px 10px;
      }
      #messages li:nth-child(odd) {
        background: #eee;
      }
    </style>
  </head>
  <body>
    